$primary-color: #121212;

/* 이 주석 유형은 인터폴레이션도 포함 가능합니다.
 * 9 + 2 = #{9 + 2} */

body {
  // 이건 css 파일에는 나타나지 않는 주석 입니다
  color: $primary-color;

  /* 이건 css파일에도 반영이 되는 주석입니다 */
  background: yellow;

  /*! 이 주석은 압축(compressed) 모드에서도 출력됩니다. */

  p /* 여러 줄 주석은 어디서나 사용 가능합니다.
	 * 공백 또한 허용합니다. */ .sans {
    font: SpoqaHanSans,
      // 한 줄 주석도 이렇게 사용 가능합니다.
      Helvetica,
      Verdana, sans-serif;
  }
}
