<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>콤보박스 컴포넌트</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body>
    <h1>콤보 박스</h1>
    <div class="combo-ui">
      <div class="combo-container">
        <label for="username" class="sr-only">기본 언어 선택</label>
        <select id="language" name="language">
          <option value="korean" selected>한국어</option>
          <option value="english">English</option>
        </select>
      </div>
    </div>
  </body>
</html>
